include ../includes/icon.jade
mixin mainNavigationLink(url,target,title)
  li(class='u-marginLeft-xs@l u-display-inlineBlock@l for-' + target)&attributes(attributes)
    a(href=url)
      span.u-textFamily-secondary=title

.Grid.Grid--directionCol.Grid--spaceBetween.u-heightMin-vFull.u-color-blueLight.u-position-relative
  .u-position-absolute.u-stickTop.u-stickLeft.u-stickRight.u-stickBottom.u-zIndex-alpha#main-background(style="background:url('/images/background.png') center;background-size:cover")
  .Grid-block.Grid-block--fit(class="u-paddingAll-s u-paddingAll-m@s u-paddingAll-xl@m")
    .Grid.Grid--gutterWide.Grid--spaceBetween.Grid--alignCenter
      .Grid-block.Grid-block--weight1
        a.u-display-inlineBlock(href='#home')
          img.u-width-full(src="/images/logoWhite.svg", alt="HackTbilisi")
      .Grid-block.Grid-block--fit
        .Navigation.u-textUppercase#menu
          a.Navigation-burger(href="#menu")
            +icon('bars')
          a.Navigation-close(href="#home")
            +icon('times')
          ul.Navigation-menu
            +mainNavigationLink('#faq', 'faq', t('კითხვები'))
            +mainNavigationLink('#speakers', 'speakers', t('სპიკერები'))
            +mainNavigationLink('#sponsors', 'sponsors', t('სპონსორები'))
            +mainNavigationLink('#team', 'team' , t('გუნდი'))
            +mainNavigationLink('#map', 'location' , t('location'))
            //- +mainNavigationLink('/agenda#' + t('languagePrefix'), 'agenda', t('განრიგი'))
            +mainNavigationLink(t('nextLanguage').url, 'nextLanguage', t('nextLanguage').title)(lang="en")
      .Grid-block.Grid-block--fit.u-position-relative.u-display-none(class="u-display-block@s")
        //- spacer
        div(style="width:70px")
          a.u-stickTop.u-position-absolute.u-display-block(class="u-marginNegativeTop-s u-marginNegativeTop-m@s u-marginNegativeTop-xl@m" style="width:70px;" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;")
        
  .Grid-block.Grid-block--fit(class="u-paddingAll-s u-paddingAll-m@s u-paddingAll-xl@m")
    h1.u-marginBottom-s.u-textFamily-secondary(class='u-textSize-3xl u-textSize-4xl@s u-textSize-5xl@l')
      p.u-lineHeight-s
        span.u-textWeight-bold 36 
        span.u-textWeight-light=t('hours')
      p.u-lineHeight-s
        span.u-textWeight-bold 200+ 
        span.u-textWeight-light=t('hackers')
    h2.u-marginBottom-s.u-textSize-xl.u-color-grayLight.u-textUppercase=t('date')
    a.u-display-inlineBlock.u-color-red.u-bordered.u-borderWidth-m.u-borderRadius-m.u-paddingVertical-xs.u-paddingHorisontal-s.u-textSize-xl(href=t('register_url') target="_blank") #{t('Register')} 
      +icon('long-arrow-right')

  .Grid-block.Grid-block--fit(class="u-paddingAll-s u-paddingAll-m@s u-paddingAll-xl@m")
    .Grid.Grid--spaceBetween.Grid--wrap.Grid--gutterWide
      .Grid-block.Grid-block--fit.u-align-middle
        a.u-display-inlineBlock(href="http://uniHack.ge", target="_blank" title='uniHack')
          span(style='font-family: Monaco,Consolas,"Lucida Console",monospace') .uniHack
        a.u-display-inlineBlock.u-align-middle.u-marginLeft-s(href="http://freeuni.edu.ge", target="_blank"  title=t('Free university of Tbilisi'))
          img.image(alt=t('Free university of Tbilisi') src="/images/free.png" height="20")
      .Grid-block.Grid-block--fit
        nav
          a(title=t('%s on %s',['HackTbilisi', 'facebook']) href='https://www.facebook.com/hacktbilisi')
            +icon('facebook')
          a.u-marginLeft-xs(title=t('%s on %s',['HackTbilisi', 'twitter']) href='https://twitter.com/hacktbilisi')
            +icon('twitter')
          a.u-marginLeft-xs(title=t('%s on %s',['uniHackge', 'google+']) href='https://plus.google.com/107084110225494322165')
            +icon('google-plus')
          a.u-marginLeft-xs(title=t('%s on %s',['uniHackge', 'youtube']) href='https://www.youtube.com/uniHackge')
            +icon('youtube-play')
          a.u-marginLeft-xs(title=t('contact us') href='mailto:team@hacktbilisi.com?Subject=wow%20much%20love')
            +icon('envelope')