//- ჰაკათონამდე 1 დღე რჩება ! One day left before hackTBILISI!
.Grid.Grid--directionCol.Grid--spaceBetween.u-color-blueLight.u-position-relative.u-marginBottom-m(style="width:930px;height:330px")
  .u-position-absolute.u-stickTop.u-stickLeft.u-stickRight.u-stickBottom.u-zIndex-alpha(style="background:url('/images/background.png') center;background-size:cover")
  .Grid-block.Grid-block--fit(class="u-paddingTop-m u-paddingLeft-m u-paddingRight-m")
    .Grid.Grid--gutterWide.Grid--spaceBetween.Grid--alignCenter
      .Grid-block.Grid-block--weight1
        a.u-display-inlineBlock(href='#home')
          img.u-width-full(src="/images/logoWhite.svg", alt="HackTbilisi")
      .Grid-block.Grid-block--fit
        .Grid.Grid--spaceBetween.Grid--wrap.Grid--gutterWide
          .Grid-block.Grid-block--fit.u-align-middle
            a.u-display-inlineBlock(href="http://uniHack.ge", target="_blank" title='uniHack')
              span(style='font-family: Monaco,Consolas,"Lucida Console",monospace') .uniHack
            a.u-display-inlineBlock.u-align-middle.u-marginLeft-s(href="http://freeuni.edu.ge", target="_blank"  title=t('Free university of Tbilisi'))
              img.image(alt=t('Free university of Tbilisi') src="/images/freeuni.svg" height="40")
      .Grid-block.Grid-block--fit.u-position-relative.u-display-none(class="u-display-block")
        //- spacer
        div(style="width:70px")
          a.u-stickTop.u-position-absolute.u-display-block(class="u-marginNegativeTop-m" style="width:70px;" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;")

  .Grid-block.Grid-block--fit(class="u-paddingHorisontal-m")
    h1.u-marginBottom-xxs.u-textFamily-secondary(class='u-textSize-5xl')
      p.u-lineHeight-s
        span.u-textWeight-light ჰაკათონამდე
        span.u-textWeight-bold 1 დღე
        span.u-textWeight-light რჩება!
      p.u-lineHeight-s
    h2.u-marginBottom-xl.u-textSize-m.u-color-grayLight.u-textUppercase
        span.u-textWeight-bold One day
        span.u-textWeight-light left before
        span.u-textWeight-bold hackTBILISI!


  .Grid-block.Grid-block--fit






//- Public voting starts now!
.Grid.Grid--directionCol.Grid--spaceBetween.u-color-blueLight.u-position-relative.u-marginBottom-m(style="width:930px;height:330px")
  .u-position-absolute.u-stickTop.u-stickLeft.u-stickRight.u-stickBottom.u-zIndex-alpha(style="background:url('/images/background.png') center;background-size:cover")
  .Grid-block.Grid-block--fit(class="u-paddingTop-m u-paddingLeft-m u-paddingRight-m")
    .Grid.Grid--gutterWide.Grid--spaceBetween.Grid--alignCenter
      .Grid-block.Grid-block--weight1
        a.u-display-inlineBlock(href='#home')
          img.u-width-full(src="/images/logoWhite.svg", alt="HackTbilisi")
      .Grid-block.Grid-block--fit
        .Grid.Grid--spaceBetween.Grid--wrap.Grid--gutterWide
          .Grid-block.Grid-block--fit.u-align-middle
            a.u-display-inlineBlock(href="http://uniHack.ge", target="_blank" title='uniHack')
              span(style='font-family: Monaco,Consolas,"Lucida Console",monospace') .uniHack
            a.u-display-inlineBlock.u-align-middle.u-marginLeft-s(href="http://freeuni.edu.ge", target="_blank"  title=t('Free university of Tbilisi'))
              img.image(alt=t('Free university of Tbilisi') src="/images/freeuni.svg" height="40")
      .Grid-block.Grid-block--fit.u-position-relative.u-display-none(class="u-display-block")
        //- spacer
        div(style="width:70px")
          a.u-stickTop.u-position-absolute.u-display-block(class="u-marginNegativeTop-m" style="width:70px;" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;")

  .Grid-block.Grid-block--fit(class="u-paddingHorisontal-m")
    h1.u-marginBottom-xxs.u-textFamily-secondary(class='u-textSize-5xl')
      p.u-lineHeight-s
        span.u-textWeight-bold Public voting
        span.u-textWeight-light starts now!

  .Grid-block.Grid-block--fit






//- ექსპო დაიწყო! Expo starts now!
.Grid.Grid--directionCol.Grid--spaceBetween.u-color-blueLight.u-position-relative.u-marginBottom-m(style="width:930px;height:330px")
  .u-position-absolute.u-stickTop.u-stickLeft.u-stickRight.u-stickBottom.u-zIndex-alpha(style="background:url('/images/background.png') center;background-size:cover")
  .Grid-block.Grid-block--fit(class="u-paddingTop-m u-paddingLeft-m u-paddingRight-m")
    .Grid.Grid--gutterWide.Grid--spaceBetween.Grid--alignCenter
      .Grid-block.Grid-block--weight1
        a.u-display-inlineBlock(href='#home')
          img.u-width-full(src="/images/logoWhite.svg", alt="HackTbilisi")
      .Grid-block.Grid-block--fit
        .Grid.Grid--spaceBetween.Grid--wrap.Grid--gutterWide
          .Grid-block.Grid-block--fit.u-align-middle
            a.u-display-inlineBlock(href="http://uniHack.ge", target="_blank" title='uniHack')
              span(style='font-family: Monaco,Consolas,"Lucida Console",monospace') .uniHack
            a.u-display-inlineBlock.u-align-middle.u-marginLeft-s(href="http://freeuni.edu.ge", target="_blank"  title=t('Free university of Tbilisi'))
              img.image(alt=t('Free university of Tbilisi') src="/images/freeuni.svg" height="40")
      .Grid-block.Grid-block--fit.u-position-relative.u-display-none(class="u-display-block")
        //- spacer
        div(style="width:70px")
          a.u-stickTop.u-position-absolute.u-display-block(class="u-marginNegativeTop-m" style="width:70px;" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;")

  .Grid-block.Grid-block--fit(class="u-paddingHorisontal-m")
    h1.u-marginBottom-xxs.u-textFamily-secondary(class='u-textSize-5xl')
      p.u-lineHeight-s
        span.u-textWeight-bold ექსპო
        span.u-textWeight-light დაიწყო!
      p.u-lineHeight-s
    h2.u-marginBottom-xl.u-textSize-m.u-color-grayLight.u-textUppercase
        span.u-textWeight-bold Expo
        span.u-textWeight-light starts now!


  .Grid-block.Grid-block--fit







//- ექსპო დაიწყო! Expo starts now!
.Grid.Grid--directionCol.Grid--spaceBetween.u-color-blueLight.u-position-relative.u-marginBottom-m(style="width:930px;height:330px")
  .u-position-absolute.u-stickTop.u-stickLeft.u-stickRight.u-stickBottom.u-zIndex-alpha(style="background:url('/images/background.png') center;background-size:cover")
  .Grid-block.Grid-block--fit(class="u-paddingTop-m u-paddingLeft-m u-paddingRight-m")
    .Grid.Grid--gutterWide.Grid--spaceBetween.Grid--alignCenter
      .Grid-block.Grid-block--weight1
        a.u-display-inlineBlock(href='#home')
          img.u-width-full(src="/images/logoWhite.svg", alt="HackTbilisi")
      .Grid-block.Grid-block--fit
        .Grid.Grid--spaceBetween.Grid--wrap.Grid--gutterWide
          .Grid-block.Grid-block--fit.u-align-middle
            a.u-display-inlineBlock(href="http://uniHack.ge", target="_blank" title='uniHack')
              span(style='font-family: Monaco,Consolas,"Lucida Console",monospace') .uniHack
            a.u-display-inlineBlock.u-align-middle.u-marginLeft-s(href="http://freeuni.edu.ge", target="_blank"  title=t('Free university of Tbilisi'))
              img.image(alt=t('Free university of Tbilisi') src="/images/freeuni.svg" height="40")
      .Grid-block.Grid-block--fit.u-position-relative.u-display-none(class="u-display-block")
        //- spacer
        div(style="width:70px")
          a.u-stickTop.u-position-absolute.u-display-block(class="u-marginNegativeTop-m" style="width:70px;" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;")

  .Grid-block.Grid-block--fit(class="u-paddingHorisontal-m")
    h1.u-marginBottom-xxs.u-textFamily-secondary(class='u-textSize-5xl')
      p.u-lineHeight-s
        span.u-textWeight-bold ექსპო
        span.u-textWeight-light დაიწყო!
      p.u-lineHeight-s
    h2.u-marginBottom-xl.u-textSize-m.u-color-grayLight.u-textUppercase
        span.u-textWeight-bold Expo
        span.u-textWeight-light starts now!


  .Grid-block.Grid-block--fit






//- გამარჯვებულები გამოვლენილია! Winners announced!
.Grid.Grid--directionCol.Grid--spaceBetween.u-color-blueLight.u-position-relative.u-marginBottom-m(style="width:930px;height:330px")
  .u-position-absolute.u-stickTop.u-stickLeft.u-stickRight.u-stickBottom.u-zIndex-alpha(style="background:url('/images/background.png') center;background-size:cover")
  .Grid-block.Grid-block--fit(class="u-paddingTop-m u-paddingLeft-m u-paddingRight-m")
    .Grid.Grid--gutterWide.Grid--spaceBetween.Grid--alignCenter
      .Grid-block.Grid-block--weight1
        a.u-display-inlineBlock(href='#home')
          img.u-width-full(src="/images/logoWhite.svg", alt="HackTbilisi")
      .Grid-block.Grid-block--fit
        .Grid.Grid--spaceBetween.Grid--wrap.Grid--gutterWide
          .Grid-block.Grid-block--fit.u-align-middle
            a.u-display-inlineBlock(href="http://uniHack.ge", target="_blank" title='uniHack')
              span(style='font-family: Monaco,Consolas,"Lucida Console",monospace') .uniHack
            a.u-display-inlineBlock.u-align-middle.u-marginLeft-s(href="http://freeuni.edu.ge", target="_blank"  title=t('Free university of Tbilisi'))
              img.image(alt=t('Free university of Tbilisi') src="/images/freeuni.svg" height="40")
      .Grid-block.Grid-block--fit.u-position-relative.u-display-none(class="u-display-block")
        //- spacer
        div(style="width:70px")
          a.u-stickTop.u-position-absolute.u-display-block(class="u-marginNegativeTop-m" style="width:70px;" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;")

  .Grid-block.Grid-block--fit(class="u-paddingHorisontal-m")
    h1.u-marginBottom-xxs.u-textFamily-secondary(class='u-textSize-4xl')
      p.u-lineHeight-s
        span.u-textWeight-bold გამარჯვებულები
        span.u-textWeight-light გამოვლენილია!
      p.u-lineHeight-s
    h2.u-marginBottom-xl.u-textSize-m.u-color-grayLight.u-textUppercase
        span.u-textWeight-bold Winners
        span.u-textWeight-light announced!


  .Grid-block.Grid-block--fit







//- TOP 10 გუნდი გამოვლენილია! Top 10 teams announced!
.Grid.Grid--directionCol.Grid--spaceBetween.u-color-blueLight.u-position-relative.u-marginBottom-m(style="width:930px;height:330px")
  .u-position-absolute.u-stickTop.u-stickLeft.u-stickRight.u-stickBottom.u-zIndex-alpha(style="background:url('/images/background.png') center;background-size:cover")
  .Grid-block.Grid-block--fit(class="u-paddingTop-m u-paddingLeft-m u-paddingRight-m")
    .Grid.Grid--gutterWide.Grid--spaceBetween.Grid--alignCenter
      .Grid-block.Grid-block--weight1
        a.u-display-inlineBlock(href='#home')
          img.u-width-full(src="/images/logoWhite.svg", alt="HackTbilisi")
      .Grid-block.Grid-block--fit
        .Grid.Grid--spaceBetween.Grid--wrap.Grid--gutterWide
          .Grid-block.Grid-block--fit.u-align-middle
            a.u-display-inlineBlock(href="http://uniHack.ge", target="_blank" title='uniHack')
              span(style='font-family: Monaco,Consolas,"Lucida Console",monospace') .uniHack
            a.u-display-inlineBlock.u-align-middle.u-marginLeft-s(href="http://freeuni.edu.ge", target="_blank"  title=t('Free university of Tbilisi'))
              img.image(alt=t('Free university of Tbilisi') src="/images/freeuni.svg" height="40")
      .Grid-block.Grid-block--fit.u-position-relative.u-display-none(class="u-display-block")
        //- spacer
        div(style="width:70px")
          a.u-stickTop.u-position-absolute.u-display-block(class="u-marginNegativeTop-m" style="width:70px;" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;")

  .Grid-block.Grid-block--fit(class="u-paddingHorisontal-m")
    h1.u-marginBottom-xxs.u-textFamily-secondary(class='u-textSize-4xl')
      p.u-lineHeight-s
        span.u-textWeight-bold TOP 10
        span.u-textWeight-light გუნდი გამოვლენილია!
      p.u-lineHeight-s
    h2.u-marginBottom-xl.u-textSize-m.u-color-grayLight.u-textUppercase
        span.u-textWeight-bold  Top 10
        span.u-textWeight-light   teams announced!


  .Grid-block.Grid-block--fit







//- საბმიშენების მიღება 15 წუთში სრულდება Submissions close in 15 mins
.Grid.Grid--directionCol.Grid--spaceBetween.u-color-blueLight.u-position-relative.u-marginBottom-m(style="width:930px;height:330px")
  .u-position-absolute.u-stickTop.u-stickLeft.u-stickRight.u-stickBottom.u-zIndex-alpha(style="background:url('/images/background.png') center;background-size:cover")
  .Grid-block.Grid-block--fit(class="u-paddingTop-m u-paddingLeft-m u-paddingRight-m")
    .Grid.Grid--gutterWide.Grid--spaceBetween.Grid--alignCenter
      .Grid-block.Grid-block--weight1
        a.u-display-inlineBlock(href='#home')
          img.u-width-full(src="/images/logoWhite.svg", alt="HackTbilisi")
      .Grid-block.Grid-block--fit
        .Grid.Grid--spaceBetween.Grid--wrap.Grid--gutterWide
          .Grid-block.Grid-block--fit.u-align-middle
            a.u-display-inlineBlock(href="http://uniHack.ge", target="_blank" title='uniHack')
              span(style='font-family: Monaco,Consolas,"Lucida Console",monospace') .uniHack
            a.u-display-inlineBlock.u-align-middle.u-marginLeft-s(href="http://freeuni.edu.ge", target="_blank"  title=t('Free university of Tbilisi'))
              img.image(alt=t('Free university of Tbilisi') src="/images/freeuni.svg" height="40")
      .Grid-block.Grid-block--fit.u-position-relative.u-display-none(class="u-display-block")
        //- spacer
        div(style="width:70px")
          a.u-stickTop.u-position-absolute.u-display-block(class="u-marginNegativeTop-m" style="width:70px;" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;")

  .Grid-block.Grid-block--fit(class="u-paddingHorisontal-m")
    h1.u-marginBottom-xxs.u-textFamily-secondary(class='u-textSize-4xl')
      p.u-lineHeight-s
        span.u-textWeight-light საბმიშენების მიღება
        span.u-textWeight-bold  15 წუთში
        span.u-textWeight-light  სრულდება.
      p.u-lineHeight-s
    h2.u-marginBottom-xl.u-textSize-m.u-color-grayLight.u-textUppercase
        span.u-textWeight-light  Submissions close in
        span.u-textWeight-bold 15 mins


  .Grid-block.Grid-block--fit








//- საბმიშენების მიღება 1 საათში სრულდება. Submissions close in 1 hour
.Grid.Grid--directionCol.Grid--spaceBetween.u-color-blueLight.u-position-relative.u-marginBottom-m(style="width:930px;height:330px")
  .u-position-absolute.u-stickTop.u-stickLeft.u-stickRight.u-stickBottom.u-zIndex-alpha(style="background:url('/images/background.png') center;background-size:cover")
  .Grid-block.Grid-block--fit(class="u-paddingTop-m u-paddingLeft-m u-paddingRight-m")
    .Grid.Grid--gutterWide.Grid--spaceBetween.Grid--alignCenter
      .Grid-block.Grid-block--weight1
        a.u-display-inlineBlock(href='#home')
          img.u-width-full(src="/images/logoWhite.svg", alt="HackTbilisi")
      .Grid-block.Grid-block--fit
        .Grid.Grid--spaceBetween.Grid--wrap.Grid--gutterWide
          .Grid-block.Grid-block--fit.u-align-middle
            a.u-display-inlineBlock(href="http://uniHack.ge", target="_blank" title='uniHack')
              span(style='font-family: Monaco,Consolas,"Lucida Console",monospace') .uniHack
            a.u-display-inlineBlock.u-align-middle.u-marginLeft-s(href="http://freeuni.edu.ge", target="_blank"  title=t('Free university of Tbilisi'))
              img.image(alt=t('Free university of Tbilisi') src="/images/freeuni.svg" height="40")
      .Grid-block.Grid-block--fit.u-position-relative.u-display-none(class="u-display-block")
        //- spacer
        div(style="width:70px")
          a.u-stickTop.u-position-absolute.u-display-block(class="u-marginNegativeTop-m" style="width:70px;" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;")

  .Grid-block.Grid-block--fit(class="u-paddingHorisontal-m")
    h1.u-marginBottom-xxs.u-textFamily-secondary(class='u-textSize-4xl')
      p.u-lineHeight-s
        span.u-textWeight-light საბმიშენების მიღება
        span.u-textWeight-bold  1 საათში
        span.u-textWeight-light  სრულდება.
      p.u-lineHeight-s
    h2.u-marginBottom-xl.u-textSize-m.u-color-grayLight.u-textUppercase
        span.u-textWeight-light  Submissions close in
        span.u-textWeight-bold 1 hour


  .Grid-block.Grid-block--fit







//- როგორ გავაკეთო ჰაკის საბმიშენი. How to submit a hack on Devpost
.Grid.Grid--directionCol.Grid--spaceBetween.u-color-blueLight.u-position-relative.u-marginBottom-m(style="width:930px;height:330px")
  .u-position-absolute.u-stickTop.u-stickLeft.u-stickRight.u-stickBottom.u-zIndex-alpha(style="background:url('/images/background.png') center;background-size:cover")
  .Grid-block.Grid-block--fit(class="u-paddingTop-m u-paddingLeft-m u-paddingRight-m")
    .Grid.Grid--gutterWide.Grid--spaceBetween.Grid--alignCenter
      .Grid-block.Grid-block--weight1
        a.u-display-inlineBlock(href='#home')
          img.u-width-full(src="/images/logoWhite.svg", alt="HackTbilisi")
      .Grid-block.Grid-block--fit
        .Grid.Grid--spaceBetween.Grid--wrap.Grid--gutterWide
          .Grid-block.Grid-block--fit.u-align-middle
            a.u-display-inlineBlock(href="http://uniHack.ge", target="_blank" title='uniHack')
              span(style='font-family: Monaco,Consolas,"Lucida Console",monospace') .uniHack
            a.u-display-inlineBlock.u-align-middle.u-marginLeft-s(href="http://freeuni.edu.ge", target="_blank"  title=t('Free university of Tbilisi'))
              img.image(alt=t('Free university of Tbilisi') src="/images/freeuni.svg" height="40")
      .Grid-block.Grid-block--fit.u-position-relative.u-display-none(class="u-display-block")
        //- spacer
        div(style="width:70px")
          a.u-stickTop.u-position-absolute.u-display-block(class="u-marginNegativeTop-m" style="width:70px;" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;")

  .Grid-block.Grid-block--fit(class="u-paddingHorisontal-m")
    h1.u-marginBottom-xxs.u-textFamily-secondary(class='u-textSize-4xl')
      p.u-lineHeight-s
        span.u-textWeight-light როგორ გავაკეთო
        span.u-textWeight-bold ჰაკის
        span.u-textWeight-light  საბმიშენი.
      p.u-lineHeight-s
    h2.u-marginBottom-xl.u-textSize-m.u-color-grayLight.u-textUppercase
        span.u-textWeight-light  How to submit a
        span.u-textWeight-bold hack
        span.u-textWeight-light  on Devpost


  .Grid-block.Grid-block--fit






//- ჭამის დროა! Time for FOOD
.Grid.Grid--directionCol.Grid--spaceBetween.u-color-blueLight.u-position-relative.u-marginBottom-m(style="width:930px;height:330px")
  .u-position-absolute.u-stickTop.u-stickLeft.u-stickRight.u-stickBottom.u-zIndex-alpha(style="background:url('/images/background.png') center;background-size:cover")
  .Grid-block.Grid-block--fit(class="u-paddingTop-m u-paddingLeft-m u-paddingRight-m")
    .Grid.Grid--gutterWide.Grid--spaceBetween.Grid--alignCenter
      .Grid-block.Grid-block--weight1
        a.u-display-inlineBlock(href='#home')
          img.u-width-full(src="/images/logoWhite.svg", alt="HackTbilisi")
      .Grid-block.Grid-block--fit
        .Grid.Grid--spaceBetween.Grid--wrap.Grid--gutterWide
          .Grid-block.Grid-block--fit.u-align-middle
            a.u-display-inlineBlock(href="http://uniHack.ge", target="_blank" title='uniHack')
              span(style='font-family: Monaco,Consolas,"Lucida Console",monospace') .uniHack
            a.u-display-inlineBlock.u-align-middle.u-marginLeft-s(href="http://freeuni.edu.ge", target="_blank"  title=t('Free university of Tbilisi'))
              img.image(alt=t('Free university of Tbilisi') src="/images/freeuni.svg" height="40")
      .Grid-block.Grid-block--fit.u-position-relative.u-display-none(class="u-display-block")
        //- spacer
        div(style="width:70px")
          a.u-stickTop.u-position-absolute.u-display-block(class="u-marginNegativeTop-m" style="width:70px;" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;")

  .Grid-block.Grid-block--fit(class="u-paddingHorisontal-m")
    h1.u-marginBottom-xxs.u-textFamily-secondary(class='u-textSize-5xl')
      p.u-lineHeight-s
        span.u-textWeight-bold ჭამის
        span.u-textWeight-light  დროა!
      p.u-lineHeight-s
    h2.u-marginBottom-xl.u-textSize-m.u-color-grayLight.u-textUppercase
        span.u-textWeight-light  Time for
        span.u-textWeight-bold FOOD


  .Grid-block.Grid-block--fit






//- პროექტების შეფასება დაიწყო! Judging starts now!
.Grid.Grid--directionCol.Grid--spaceBetween.u-color-blueLight.u-position-relative.u-marginBottom-m(style="width:930px;height:330px")
  .u-position-absolute.u-stickTop.u-stickLeft.u-stickRight.u-stickBottom.u-zIndex-alpha(style="background:url('/images/background.png') center;background-size:cover")
  .Grid-block.Grid-block--fit(class="u-paddingTop-m u-paddingLeft-m u-paddingRight-m")
    .Grid.Grid--gutterWide.Grid--spaceBetween.Grid--alignCenter
      .Grid-block.Grid-block--weight1
        a.u-display-inlineBlock(href='#home')
          img.u-width-full(src="/images/logoWhite.svg", alt="HackTbilisi")
      .Grid-block.Grid-block--fit
        .Grid.Grid--spaceBetween.Grid--wrap.Grid--gutterWide
          .Grid-block.Grid-block--fit.u-align-middle
            a.u-display-inlineBlock(href="http://uniHack.ge", target="_blank" title='uniHack')
              span(style='font-family: Monaco,Consolas,"Lucida Console",monospace') .uniHack
            a.u-display-inlineBlock.u-align-middle.u-marginLeft-s(href="http://freeuni.edu.ge", target="_blank"  title=t('Free university of Tbilisi'))
              img.image(alt=t('Free university of Tbilisi') src="/images/freeuni.svg" height="40")
      .Grid-block.Grid-block--fit.u-position-relative.u-display-none(class="u-display-block")
        //- spacer
        div(style="width:70px")
          a.u-stickTop.u-position-absolute.u-display-block(class="u-marginNegativeTop-m" style="width:70px;" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;")

  .Grid-block.Grid-block--fit(class="u-paddingHorisontal-m")
    h1.u-marginBottom-xxs.u-textFamily-secondary(class='u-textSize-4xl')
      p.u-lineHeight-s
        span.u-textWeight-bold პროექტების
        span.u-textWeight-light შეფასება დაიწყო!
      p.u-lineHeight-s
    h2.u-marginBottom-xl.u-textSize-m.u-color-grayLight.u-textUppercase
        span.u-textWeight-bold Judging
        span.u-textWeight-light starts now!


  .Grid-block.Grid-block--fit







//- პროექტების მიღება დაიწყო! Submissions are open!
.Grid.Grid--directionCol.Grid--spaceBetween.u-color-blueLight.u-position-relative.u-marginBottom-m(style="width:930px;height:330px")
  .u-position-absolute.u-stickTop.u-stickLeft.u-stickRight.u-stickBottom.u-zIndex-alpha(style="background:url('/images/background.png') center;background-size:cover")
  .Grid-block.Grid-block--fit(class="u-paddingTop-m u-paddingLeft-m u-paddingRight-m")
    .Grid.Grid--gutterWide.Grid--spaceBetween.Grid--alignCenter
      .Grid-block.Grid-block--weight1
        a.u-display-inlineBlock(href='#home')
          img.u-width-full(src="/images/logoWhite.svg", alt="HackTbilisi")
      .Grid-block.Grid-block--fit
        .Grid.Grid--spaceBetween.Grid--wrap.Grid--gutterWide
          .Grid-block.Grid-block--fit.u-align-middle
            a.u-display-inlineBlock(href="http://uniHack.ge", target="_blank" title='uniHack')
              span(style='font-family: Monaco,Consolas,"Lucida Console",monospace') .uniHack
            a.u-display-inlineBlock.u-align-middle.u-marginLeft-s(href="http://freeuni.edu.ge", target="_blank"  title=t('Free university of Tbilisi'))
              img.image(alt=t('Free university of Tbilisi') src="/images/freeuni.svg" height="40")
      .Grid-block.Grid-block--fit.u-position-relative.u-display-none(class="u-display-block")
        //- spacer
        div(style="width:70px")
          a.u-stickTop.u-position-absolute.u-display-block(class="u-marginNegativeTop-m" style="width:70px;" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;")

  .Grid-block.Grid-block--fit(class="u-paddingHorisontal-m")
    h1.u-marginBottom-xxs.u-textFamily-secondary(class='u-textSize-4xl')
      p.u-lineHeight-s
        span.u-textWeight-bold პროექტების
        span.u-textWeight-light მიღება დაიწყო!
      p.u-lineHeight-s
    h2.u-marginBottom-xl.u-textSize-m.u-color-grayLight.u-textUppercase
        span.u-textWeight-bold Submissions
        span.u-textWeight-light are open!


  .Grid-block.Grid-block--fit








//- ჰაკინგი დაიწყო! Hacking starts now!
.Grid.Grid--directionCol.Grid--spaceBetween.u-color-blueLight.u-position-relative.u-marginBottom-m(style="width:930px;height:330px")
  .u-position-absolute.u-stickTop.u-stickLeft.u-stickRight.u-stickBottom.u-zIndex-alpha(style="background:url('/images/background.png') center;background-size:cover")
  .Grid-block.Grid-block--fit(class="u-paddingTop-m u-paddingLeft-m u-paddingRight-m")
    .Grid.Grid--gutterWide.Grid--spaceBetween.Grid--alignCenter
      .Grid-block.Grid-block--weight1
        a.u-display-inlineBlock(href='#home')
          img.u-width-full(src="/images/logoWhite.svg", alt="HackTbilisi")
      .Grid-block.Grid-block--fit
        .Grid.Grid--spaceBetween.Grid--wrap.Grid--gutterWide
          .Grid-block.Grid-block--fit.u-align-middle
            a.u-display-inlineBlock(href="http://uniHack.ge", target="_blank" title='uniHack')
              span(style='font-family: Monaco,Consolas,"Lucida Console",monospace') .uniHack
            a.u-display-inlineBlock.u-align-middle.u-marginLeft-s(href="http://freeuni.edu.ge", target="_blank"  title=t('Free university of Tbilisi'))
              img.image(alt=t('Free university of Tbilisi') src="/images/freeuni.svg" height="40")
      .Grid-block.Grid-block--fit.u-position-relative.u-display-none(class="u-display-block")
        //- spacer
        div(style="width:70px")
          a.u-stickTop.u-position-absolute.u-display-block(class="u-marginNegativeTop-m" style="width:70px;" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;")

  .Grid-block.Grid-block--fit(class="u-paddingHorisontal-m")
    h1.u-marginBottom-xxs.u-textFamily-secondary(class='u-textSize-5xl')
      p.u-lineHeight-s
        span.u-textWeight-bold ჰაკინგი
        span.u-textWeight-light დაიწყო!
      p.u-lineHeight-s
    h2.u-marginBottom-xl.u-textSize-m.u-color-grayLight.u-textUppercase
        span.u-textWeight-bold Hacking
        span.u-textWeight-light starts now!


  .Grid-block.Grid-block--fit






//- add id `main-background` to element and background will be inserted in there

//- event Cover
.Grid.Grid--directionCol.Grid--spaceBetween.u-color-blueLight.u-position-relative(style="width:784px;height:295px")
  .u-position-absolute.u-stickTop.u-stickLeft.u-stickRight.u-stickBottom.u-zIndex-alpha(style="background:url('/images/background.png') center;background-size:cover")
  .Grid-block.Grid-block--fit(class="u-paddingTop-m u-paddingLeft-m u-paddingRight-m")
    .Grid.Grid--gutterWide.Grid--spaceBetween.Grid--alignCenter
      .Grid-block.Grid-block--weight1
        a.u-display-inlineBlock(href='#home')
          img.u-width-full(src="/images/logoWhite.svg", alt="HackTbilisi")
      .Grid-block.Grid-block--fit
        .Grid.Grid--spaceBetween.Grid--wrap.Grid--gutterWide
          .Grid-block.Grid-block--fit.u-align-middle
            a.u-display-inlineBlock(href="http://uniHack.ge", target="_blank" title='uniHack')
              span(style='font-family: Monaco,Consolas,"Lucida Console",monospace') .uniHack
            a.u-display-inlineBlock.u-align-middle.u-marginLeft-s(href="http://freeuni.edu.ge", target="_blank"  title=t('Free university of Tbilisi'))
              img.image(alt=t('Free university of Tbilisi') src="/images/freeuni.svg" height="40")
      .Grid-block.Grid-block--fit.u-position-relative.u-display-none(class="u-display-block")
        //- spacer
        div(style="width:70px")
          a.u-stickTop.u-position-absolute.u-display-block(class="u-marginNegativeTop-m" style="width:70px;" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;")

  .Grid-block.Grid-block--fit(class="u-paddingHorisontal-m")
    h1.u-marginBottom-s.u-textFamily-secondary(class='u-textSize-4xl')
      p.u-lineHeight-s
        span.u-textWeight-bold 36
        span.u-textWeight-light=t('hours')
      p.u-lineHeight-s
        span.u-textWeight-bold 200+
        span.u-textWeight-light=t('hackers')


  .Grid-block.Grid-block--fit




//- group cover
.Grid.Grid--directionCol.Grid--spaceBetween.u-color-blueLight.u-position-relative(style="width:784px;height:250px")
  .u-position-absolute.u-stickTop.u-stickLeft.u-stickRight.u-stickBottom.u-zIndex-alpha(style="background:url('/images/background.png') center;background-size:cover")
  .Grid-block.Grid-block--fit(class="u-paddingTop-m u-paddingLeft-m u-paddingRight-m")
    .Grid.Grid--gutterWide.Grid--spaceBetween.Grid--alignCenter
      .Grid-block.Grid-block--weight1
        a.u-display-inlineBlock(href='#home')
          img.u-width-full(src="/images/logoWhite.svg", alt="HackTbilisi")
      .Grid-block.Grid-block--fit
        .Grid.Grid--spaceBetween.Grid--wrap.Grid--gutterWide
          .Grid-block.Grid-block--fit.u-align-middle
            a.u-display-inlineBlock(href="http://uniHack.ge", target="_blank" title='uniHack')
              span(style='font-family: Monaco,Consolas,"Lucida Console",monospace') .uniHack
            a.u-display-inlineBlock.u-align-middle.u-marginLeft-s(href="http://freeuni.edu.ge", target="_blank"  title=t('Free university of Tbilisi'))
              img.image(alt=t('Free university of Tbilisi') src="/images/freeuni.svg" height="40")
      .Grid-block.Grid-block--fit.u-position-relative.u-display-none(class="u-display-block")
        //- spacer
        div(style="width:70px")
          a.u-stickTop.u-position-absolute.u-display-block(class="u-marginNegativeTop-m" style="width:70px;" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;")

  .Grid-block.Grid-block--fit(class="u-paddingHorisontal-m")
    h1.u-marginBottom-xxs.u-textFamily-secondary(class='u-textSize-3xl')
      p.u-lineHeight-s
        span.u-textWeight-bold 36
        span.u-textWeight-light=t('hours')
      p.u-lineHeight-s
        span.u-textWeight-bold 200+
        span.u-textWeight-light=t('hackers')
    h2.u-marginBottom-xl.u-textSize-m.u-color-grayLight.u-textUppercase=t('date')


  .Grid-block.Grid-block--fit

//- page cover
.Grid.Grid--directionCol.Grid--spaceBetween.u-color-blueLight.u-position-relative(style="width:851px;height:315px")
  .u-position-absolute.u-stickTop.u-stickLeft.u-stickRight.u-stickBottom.u-zIndex-alpha(style="background:url('/images/background.png') center;background-size:cover")
  .Grid-block.Grid-block--fit(class="u-paddingTop-m u-paddingLeft-m u-paddingRight-m")
    .Grid.Grid--gutterWide.Grid--spaceBetween.Grid--alignCenter
      .Grid-block.Grid-block--weight1
        a.u-display-inlineBlock(href='#home')
          img.u-width-full(src="/images/logoWhite.svg", alt="HackTbilisi")
      .Grid-block.Grid-block--fit
        .Grid.Grid--spaceBetween.Grid--wrap.Grid--gutterWide
          .Grid-block.Grid-block--fit.u-align-middle
            a.u-display-inlineBlock(href="http://uniHack.ge", target="_blank" title='uniHack')
              span(style='font-family: Monaco,Consolas,"Lucida Console",monospace') .uniHack
            a.u-display-inlineBlock.u-align-middle.u-marginLeft-s(href="http://freeuni.edu.ge", target="_blank"  title=t('Free university of Tbilisi'))
              img.image(alt=t('Free university of Tbilisi') src="/images/freeuni.svg" height="40")
      .Grid-block.Grid-block--fit.u-position-relative.u-display-none(class="u-display-block")
        //- spacer
        div(style="width:70px")
          a.u-stickTop.u-position-absolute.u-display-block(class="u-marginNegativeTop-m" style="width:70px;" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;")

  .Grid-block.Grid-block--fit(class="u-paddingHorisontal-m")
    h1.u-marginBottom-xxs.u-textFamily-secondary(class='u-textSize-4xl')
      p.u-lineHeight-s
        span.u-textWeight-bold 36
        span.u-textWeight-light=t('hours')
      p.u-lineHeight-s
        span.u-textWeight-bold 200+
        span.u-textWeight-light=t('hackers')
    h2.u-marginBottom-s.u-textSize-m.u-color-grayLight.u-textUppercase=t('date')


  .Grid-block.Grid-block--fit


//- OG:image
.Grid.Grid--directionCol.Grid--spaceBetween.u-color-blueLight.u-position-relative(style="width:940px;height:492px")
  .u-position-absolute.u-stickTop.u-stickLeft.u-stickRight.u-stickBottom.u-zIndex-alpha(style="background:url('/images/background.png') center;background-size:cover")
  .Grid-block.Grid-block--fit(class="u-paddingAll-l")
    .Grid.Grid--gutterWide.Grid--spaceBetween.Grid--alignCenter
      .Grid-block.Grid-block--weight1
        a.u-display-inlineBlock(href='#home')
          img.u-width-full(src="/images/logoWhite.svg", alt="HackTbilisi")
      .Grid-block.Grid-block--fit
        .Grid.Grid--spaceBetween.Grid--wrap.Grid--gutterWide
          .Grid-block.Grid-block--fit.u-align-middle
            a.u-display-inlineBlock(href="http://uniHack.ge", target="_blank" title='uniHack')
              span(style='font-family: Monaco,Consolas,"Lucida Console",monospace') .uniHack
            a.u-display-inlineBlock.u-align-middle.u-marginLeft-s(href="http://freeuni.edu.ge", target="_blank"  title=t('Free university of Tbilisi'))
              img.image(alt=t('Free university of Tbilisi') src="/images/freeuni.svg" height="40")
      .Grid-block.Grid-block--fit.u-position-relative.u-display-none(class="u-display-block")
        //- spacer
        div(style="width:70px")
          a.u-stickTop.u-position-absolute.u-display-block(class="u-marginNegativeTop-l" style="width:70px;" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;")

  .Grid-block.Grid-block--fit(class="u-paddingAll-l")
    h1.u-marginBottom-s.u-textFamily-secondary(class='u-textSize-5xl')
      p.u-lineHeight-s
        span.u-textWeight-bold 36
        span.u-textWeight-light=t('hours')
      p.u-lineHeight-s
        span.u-textWeight-bold 200+
        span.u-textWeight-light=t('hackers')
    h2.u-marginBottom-f.u-textSize-xl.u-color-grayLight.u-textUppercase=t('date')

  .Grid-block.Grid-block--fit(class="u-paddingAll-l")
