//- add id `main-background` to element and background will be inserted in there

//- event Cover  
.Grid.Grid--directionCol.Grid--spaceBetween.u-color-blueLight.u-position-relative(style="width:784px;height:295px")
  .u-position-absolute.u-stickTop.u-stickLeft.u-stickRight.u-stickBottom.u-zIndex-alpha(style="background:url('/images/background.png') center;background-size:cover")
  .Grid-block.Grid-block--fit(class="u-paddingTop-m u-paddingLeft-m u-paddingRight-m")
    .Grid.Grid--gutterWide.Grid--spaceBetween.Grid--alignCenter
      .Grid-block.Grid-block--weight1
        a.u-display-inlineBlock(href='#home')
          img.u-width-full(src="/images/logoWhite.svg", alt="HackTbilisi")
      .Grid-block.Grid-block--fit
        .Grid.Grid--spaceBetween.Grid--wrap.Grid--gutterWide
          .Grid-block.Grid-block--fit.u-align-middle
            a.u-display-inlineBlock(href="http://uniHack.ge", target="_blank" title='uniHack')
              span(style='font-family: Monaco,Consolas,"Lucida Console",monospace') .uniHack
            a.u-display-inlineBlock.u-align-middle.u-marginLeft-s(href="http://freeuni.edu.ge", target="_blank"  title=t('Free university of Tbilisi'))
              img.image(alt=t('Free university of Tbilisi') src="/images/free.png" height="20")
      .Grid-block.Grid-block--fit.u-position-relative.u-display-none(class="u-display-block")
        //- spacer
        div(style="width:70px")
          a.u-stickTop.u-position-absolute.u-display-block(class="u-marginNegativeTop-m" style="width:70px;" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;")
        
  .Grid-block.Grid-block--fit(class="u-paddingHorisontal-m")
    h1.u-marginBottom-s.u-textFamily-secondary(class='u-textSize-4xl')
      p.u-lineHeight-s
        span.u-textWeight-bold 36 
        span.u-textWeight-light=t('hours')
      p.u-lineHeight-s
        span.u-textWeight-bold 200+ 
        span.u-textWeight-light=t('hackers')


  .Grid-block.Grid-block--fit




//- group cover
.Grid.Grid--directionCol.Grid--spaceBetween.u-color-blueLight.u-position-relative(style="width:784px;height:250px")
  .u-position-absolute.u-stickTop.u-stickLeft.u-stickRight.u-stickBottom.u-zIndex-alpha(style="background:url('/images/background.png') center;background-size:cover")
  .Grid-block.Grid-block--fit(class="u-paddingTop-m u-paddingLeft-m u-paddingRight-m")
    .Grid.Grid--gutterWide.Grid--spaceBetween.Grid--alignCenter
      .Grid-block.Grid-block--weight1
        a.u-display-inlineBlock(href='#home')
          img.u-width-full(src="/images/logoWhite.svg", alt="HackTbilisi")
      .Grid-block.Grid-block--fit
        .Grid.Grid--spaceBetween.Grid--wrap.Grid--gutterWide
          .Grid-block.Grid-block--fit.u-align-middle
            a.u-display-inlineBlock(href="http://uniHack.ge", target="_blank" title='uniHack')
              span(style='font-family: Monaco,Consolas,"Lucida Console",monospace') .uniHack
            a.u-display-inlineBlock.u-align-middle.u-marginLeft-s(href="http://freeuni.edu.ge", target="_blank"  title=t('Free university of Tbilisi'))
              img.image(alt=t('Free university of Tbilisi') src="/images/free.png" height="20")
      .Grid-block.Grid-block--fit.u-position-relative.u-display-none(class="u-display-block")
        //- spacer
        div(style="width:70px")
          a.u-stickTop.u-position-absolute.u-display-block(class="u-marginNegativeTop-m" style="width:70px;" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;")
        
  .Grid-block.Grid-block--fit(class="u-paddingHorisontal-m")
    h1.u-marginBottom-xxs.u-textFamily-secondary(class='u-textSize-3xl')
      p.u-lineHeight-s
        span.u-textWeight-bold 36 
        span.u-textWeight-light=t('hours')
      p.u-lineHeight-s
        span.u-textWeight-bold 200+ 
        span.u-textWeight-light=t('hackers')
    h2.u-marginBottom-xl.u-textSize-m.u-color-grayLight.u-textUppercase=t('date')


  .Grid-block.Grid-block--fit

//- page cover
.Grid.Grid--directionCol.Grid--spaceBetween.u-color-blueLight.u-position-relative(style="width:851px;height:315px")
  .u-position-absolute.u-stickTop.u-stickLeft.u-stickRight.u-stickBottom.u-zIndex-alpha(style="background:url('/images/background.png') center;background-size:cover")
  .Grid-block.Grid-block--fit(class="u-paddingTop-m u-paddingLeft-m u-paddingRight-m")
    .Grid.Grid--gutterWide.Grid--spaceBetween.Grid--alignCenter
      .Grid-block.Grid-block--weight1
        a.u-display-inlineBlock(href='#home')
          img.u-width-full(src="/images/logoWhite.svg", alt="HackTbilisi")
      .Grid-block.Grid-block--fit
        .Grid.Grid--spaceBetween.Grid--wrap.Grid--gutterWide
          .Grid-block.Grid-block--fit.u-align-middle
            a.u-display-inlineBlock(href="http://uniHack.ge", target="_blank" title='uniHack')
              span(style='font-family: Monaco,Consolas,"Lucida Console",monospace') .uniHack
            a.u-display-inlineBlock.u-align-middle.u-marginLeft-s(href="http://freeuni.edu.ge", target="_blank"  title=t('Free university of Tbilisi'))
              img.image(alt=t('Free university of Tbilisi') src="/images/free.png" height="20")
      .Grid-block.Grid-block--fit.u-position-relative.u-display-none(class="u-display-block")
        //- spacer
        div(style="width:70px")
          a.u-stickTop.u-position-absolute.u-display-block(class="u-marginNegativeTop-m" style="width:70px;" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;")
        
  .Grid-block.Grid-block--fit(class="u-paddingHorisontal-m")
    h1.u-marginBottom-xxs.u-textFamily-secondary(class='u-textSize-4xl')
      p.u-lineHeight-s
        span.u-textWeight-bold 36 
        span.u-textWeight-light=t('hours')
      p.u-lineHeight-s
        span.u-textWeight-bold 200+ 
        span.u-textWeight-light=t('hackers')
    h2.u-marginBottom-s.u-textSize-m.u-color-grayLight.u-textUppercase=t('date')


  .Grid-block.Grid-block--fit


//- OG:image
.Grid.Grid--directionCol.Grid--spaceBetween.u-color-blueLight.u-position-relative(style="width:940px;height:492px")
  .u-position-absolute.u-stickTop.u-stickLeft.u-stickRight.u-stickBottom.u-zIndex-alpha(style="background:url('/images/background.png') center;background-size:cover")
  .Grid-block.Grid-block--fit(class="u-paddingAll-l")
    .Grid.Grid--gutterWide.Grid--spaceBetween.Grid--alignCenter
      .Grid-block.Grid-block--weight1
        a.u-display-inlineBlock(href='#home')
          img.u-width-full(src="/images/logoWhite.svg", alt="HackTbilisi")
      .Grid-block.Grid-block--fit
        .Grid.Grid--spaceBetween.Grid--wrap.Grid--gutterWide
          .Grid-block.Grid-block--fit.u-align-middle
            a.u-display-inlineBlock(href="http://uniHack.ge", target="_blank" title='uniHack')
              span(style='font-family: Monaco,Consolas,"Lucida Console",monospace') .uniHack
            a.u-display-inlineBlock.u-align-middle.u-marginLeft-s(href="http://freeuni.edu.ge", target="_blank"  title=t('Free university of Tbilisi'))
              img.image(alt=t('Free university of Tbilisi') src="/images/free.png" height="20")
      .Grid-block.Grid-block--fit.u-position-relative.u-display-none(class="u-display-block")
        //- spacer
        div(style="width:70px")
          a.u-stickTop.u-position-absolute.u-display-block(class="u-marginNegativeTop-l" style="width:70px;" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png" alt="MLH Official - Fall 2015" style="width:100%;")
        
  .Grid-block.Grid-block--fit(class="u-paddingAll-l")
    h1.u-marginBottom-s.u-textFamily-secondary(class='u-textSize-5xl')
      p.u-lineHeight-s
        span.u-textWeight-bold 36 
        span.u-textWeight-light=t('hours')
      p.u-lineHeight-s
        span.u-textWeight-bold 200+ 
        span.u-textWeight-light=t('hackers')
    h2.u-marginBottom-f.u-textSize-xl.u-color-grayLight.u-textUppercase=t('date')

  .Grid-block.Grid-block--fit(class="u-paddingAll-l")